server {

    listen 80;
	listen [::]:80;
    server_name {{ autoconfig_domain }};
    return 301 https://$server_name$request_uri;
}

server {

    listen 443 ssl;
	listen [::]:443 ssl;
    server_name {{ autoconfig_domain }};

{% for ld in letsencrypt_domains %}
{% if autoconfig_domain in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

	location / {
		root /var/www/{{ autoconfig_domain }};
		try_files $uri $uri/ =404;
	}

	location ~ /\.ht {
		deny all;
	}
}

