# See /usr/share/postfix/main.cf.dist for a commented, more complete version

smtpd_banner = {{ postfix_domain }} ESMTP
biff = no

append_dot_mydomain = no

readme_directory = no

compatibility_level = 9999

# TLS parameters
{% for ld in letsencrypt_domains %}
{% if postfix_domain in letsencrypt_domains[ld] %}
smtpd_tls_cert_file=/etc/letsencrypt/live/{{ ld }}/fullchain.pem
smtpd_tls_key_file=/etc/letsencrypt/live/{{ ld }}/privkey.pem
{% endif %}
{% endfor %}
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtpd_tls_session_cache_timeout = 86400s
smtpd_tls_security_level = encrypt
smtpd_tls_ciphers = high
smtpd_tls_mandatory_ciphers = high
smtpd_tls_mandatory_protocols = >=0x0303
smtpd_tls_received_header = yes
message_drop_headers=bcc,content-length,resent-bcc,return-path,received,user-agent,x-enigmail,x-enigmail-version,x-mailer,x-originating-ip

smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache
smtp_tls_session_cache_timeout = 86400s
smtp_tls_security_level = encrypt
#smtp_tls_security_level = verify
#smtp_tls_verify_cert_match = hostname, nexthop, dot-nexthop
smtp_tls_CAfile = /etc/ssl/certs/ca-certificates.crt
smtp_tls_ciphers = high
smtp_tls_mandatory_ciphers = high
smtp_tls_mandatory_protocols = >=0x0303
smtp_tls_fingerprint_digest = sha1
smtp_tls_policy_maps = hash:/etc/postfix/smtp-tls-policies

myhostname = {{ postfix_domain }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = {{ postfix_domain }}
mydestination = $myhostname, localhost
relayhost = 
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_command = procmail -a "$EXTENSION"
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all

#
# sasl auth
#

smtpd_tls_auth_only = yes
smtpd_sasl_auth_enable = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_security_options = noanonymous
smtpd_sasl_tls_security_options = $smtpd_sasl_security_options

#
# virtuality
#

virtual_alias_maps = hash:/etc/postfix/virtual-aliases
virtual_mailbox_domains = {{ mail_domain }} {{ additional_mail_domains | join(' ') }}
virtual_transport = dovecot
dovecot_destination_recipient_limit = 1

#
# strictness, spam prevention
#

strict_mime_encoding_domain = yes
strict_rfc821_envelopes = yes

smtpd_forbid_unauth_pipelining = yes
smtpd_discard_ehlo_keywords = chunking

smtpd_helo_required = yes
smtpd_helo_restrictions =
  check_helo_access hash:/etc/postfix/helo_access,
  reject_invalid_helo_hostname,
  reject_unknown_helo_hostname,

smtpd_recipient_restrictions =
  reject_non_fqdn_sender,
  reject_unknown_sender_domain,
  reject_non_fqdn_recipient,
  reject_unverified_recipient,

smtpd_relay_restrictions =
  permit_sasl_authenticated,
  defer_unauth_destination,

unverfied_recipient_reject_code = 550
unverfied_recipient_reject_reason = unknown recipient
unknown_local_recipient_reject_code = 551

# postscreen settings
postscreen_access_list = cidr:/etc/postfix/postscreen_access.cidr
postscreen_greet_action = enforce
postscreen_dnsbl_action = enforce
postscreen_dnsbl_threshold = 2
postscreen_dnsbl_sites =
#zen.spamhaus.org*2 bl.spamcop.net*1 b.barracudacentral.org*1

bounce_queue_lifetime = 2h
maximal_queue_lifetime = 2h
maximal_backoff_time = 45m
minimal_backoff_time = 121s
queue_run_delay = 121s

smtpd_milters = unix:rspamd/milter.sock
milter_default_action = accept
non_smtpd_milters = $smtpd_milters

owner_request_special = no

transport_maps = hash:/etc/postfix/transports

