{% for destination_address in postfix_virtual_aliases %}
{% for alias in postfix_virtual_aliases[destination_address] %}
{{ alias }}	admin@{{ mail_domain }}
{% endfor %}
{% endfor %}

{% for destination_address in additional_postfix_virtual_aliases %}
{% for alias in additional_postfix_virtual_aliases[destination_address] %}
{{ alias }}	{{ destination_address }}
{% endfor %}
{% endfor %}

